<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">

  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/bootstrap-theme.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0...">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js">


  <title>Homepage</title>
</head>

<body>
  <div class="container">
    <!--Search-->
    <div class="row margin-top-bottom border-bottom-red">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search for...">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">Search</button>
          </span>
        </div>
        <!-- /input-group -->
      </div>
      <!-- /.col-lg-6 -->

    </div>

    <div class="row margin-top-bottom">



      <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <div class="event-wrapper">
          <h1 class="text-center">Name</h1>
          <a href="#" class="link-height100 margin-top-bottom">
            <img src="img/sample.svg" alt="...">
          </a>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio ad esse laboriosam dignissimos, iste quos fuga quasi, suscipit quidem ratione eaque porro nostrum ipsam. Natus ullam sed aut neque facilis.</p>
          <p>
            <strong>People to be:</strong> <a href="#">User1111</a>, <a href="#">User1111</a></p>

          <p>
            <strong>Initiator:</strong> <a href="#">User1111</a></p>

          <p>
            <strong>Date:</strong> <a href="#">User1111</a></p>

          <p>
            <strong>Type:</strong> <a href="#">Buchach</a></p>



          <div class="panel-group" id="accordion">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
        Required</a>
                </h4>
              </div>
              <div id="collapse1" class="panel-collapse collapse in">
                <div class="panel-body">
                  <ul>
                    <li>Vodka</li>
                    <li>Whores</li>
                  </ul>
                </div>
              </div>
            </div>

          </div>


        </div>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <div class="event-wrapper">
          <h1 class="text-center">Name</h1>
          <a href="#" class="link-height100 margin-top-bottom">
            <img src="img/sample.svg" alt="...">
          </a>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio ad esse laboriosam dignissimos, iste quos fuga quasi, suscipit quidem ratione eaque porro nostrum ipsam. Natus ullam sed aut neque facilis.</p>
          <p>
            <strong>People to be:</strong> <a href="#">User1111</a>, <a href="#">User1111</a></p>

          <p>
            <strong>Initiator:</strong> <a href="#">User1111</a></p>

          <p>
            <strong>Date:</strong> <a href="#">User1111</a></p>

          <p>
            <strong>Type:</strong> <a href="#">Buchach</a></p>



          <div class="panel-group" id="accordion">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
        Required</a>
                </h4>
              </div>
              <div id="collapse1" class="panel-collapse collapse in">
                <div class="panel-body">
                  <ul>
                    <li>Vodka</li>
                    <li>Whores</li>
                  </ul>
                </div>
              </div>
            </div>

          </div>


        </div>
      </div>


      <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <div class="event-wrapper">
          <h1 class="text-center">Name</h1>
          <a href="#" class="link-height100 margin-top-bottom">
            <img src="img/sample.svg" alt="...">
          </a>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio ad esse laboriosam dignissimos, iste quos fuga quasi, suscipit quidem ratione eaque porro nostrum ipsam. Natus ullam sed aut neque facilis.</p>
          <p>
            <strong>People to be:</strong> <a href="#">User1111</a>, <a href="#">User1111</a></p>

          <p>
            <strong>Initiator:</strong> <a href="#">User1111</a></p>

          <p>
            <strong>Date:</strong> <a href="#">User1111</a></p>

          <p>
            <strong>Type:</strong> <a href="#">Buchach</a></p>



          <div class="panel-group" id="accordion">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
        Required</a>
                </h4>
              </div>
              <div id="collapse1" class="panel-collapse collapse in">
                <div class="panel-body">
                  <ul>
                    <li>Vodka</li>
                    <li>Whores</li>
                  </ul>
                </div>
              </div>
            </div>

          </div>


        </div>
      </div>


      <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <div class="event-wrapper">
          <h1 class="text-center">Name</h1>
          <a href="#" class="link-height100 margin-top-bottom">
            <img src="img/sample.svg" alt="...">
          </a>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio ad esse laboriosam dignissimos, iste quos fuga quasi, suscipit quidem ratione eaque porro nostrum ipsam. Natus ullam sed aut neque facilis.</p>
          <p>
            <strong>People to be:</strong> <a href="#">User1111</a>, <a href="#">User1111</a></p>

          <p>
            <strong>Initiator:</strong> <a href="#">User1111</a></p>

          <p>
            <strong>Date:</strong> <a href="#">User1111</a></p>

          <p>
            <strong>Type:</strong> <a href="#">Buchach</a></p>



          <div class="panel-group" id="accordion">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
        Required</a>
                </h4>
              </div>
              <div id="collapse1" class="panel-collapse collapse in">
                <div class="panel-body">
                  <ul>
                    <li>Vodka</li>
                    <li>Whores</li>
                  </ul>
                </div>
              </div>
            </div>

          </div>


        </div>
      </div>





    </div>


  </div>





  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="js/bootstrap.min.js"></script>
</body>

</html>
