<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">

  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/style.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js">

  <link rel="stylesheet" href="css/bootstrap-theme.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js">
  <title>Homepage</title>
</head>

<body>
  <div class="container">
    <h1>Edit event</h1>
    <hr>
    <div class="row">
      <!-- left column -->


      <!-- edit form column -->
      <div class="col-md-8 personal-info">



        <form class="form-horizontal" role="form">
          <div class="form-group">
            <label class="col-lg-3 control-label">Name:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" value="Previous">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Description:</label>
            <div class="col-lg-8">
              <textarea class="form-control" rows="5" id="description"></textarea>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Date:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" value="">
            </div>
          </div>

          <div class="form-group">
            <label class="col-lg-3 control-label">Type:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" value="Default">
            </div>
          </div>

          <div class="form-group">
            <label class="col-lg-3 control-label">Type:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" value="Default">
            </div>
          </div>

          <div class="form-group">
            <label class="col-lg-3 control-label">Type:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" value="Default">
            </div>
          </div>

          <div class="form-group">
            <label class="col-lg-3 control-label">Private:</label>
            <div class="col-lg-8">
              <div class="checkbox">
                <label>
                  <input type="checkbox" value="">Yes/No</label>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-3 control-label">Image</label>
            <div class="col-md-8">
              <input type="file">
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-3 control-label"></label>
            <div class="col-md-8">
              <a class="waves-effect green darken-4 btn">Піду</a>
              <span></span>

            </div>
          </div>





        </form>
      </div>


      <div class="col-md-4">
        <img class="width100" src="img/sample.svg" alt="">
      </div>


    </div>
  </div>






  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="js/bootstrap.js"></script>
</body>

</html>
