#page-wrapper, footer#page-wrapper {
  margin: 0 5px 0 5px;
}

footer#page-wrapper {
  padding: 5px;
}

.width-100 {
  width: 100%;
}

.margin-bottom {
  margin-bottom: 20px;
}

input[type=file] {
  display:block;
}

.card .card-image .card-title {
  width: 100%;
  background: rgba(255, 255, 255, 0.5);
}
